header {
    text-align: center;
}

header img {
    width: 12vw;
    margin: 5px 0 10px 0;
}

header div {
    color: #004d4c;
    background-color: #fdfbf1;
    border-top: solid #ffdb83 2px;
    border-bottom: solid #fdfbf1 0.1px;
}

header div a {
    color: #004d4c;
    text-decoration: none;
    font-weight: bold;
}

article {
    width: 70%;
}

article div figure img {
    width: 100%;
    border-radius: 10px
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main article div h1 {
    margin-top: 10vh;
}

.ftr {
    color: #b5460f;
    margin-top: 40px;
    margin-bottom: 70px;
}

div p a {
    color: #1f7e7e;
}

figure figcaption {
    color: #999999;
    text-align: center;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: bolder;
}

li {
    line-height: 40px;
}